.hidden {
    display: none;
}

.blue-bg {
    width: 100%;
    height: 300px;
    background-color: #009faa;
    color: white;
    padding-top: 70px;
}

.lbtn {
    border-radius: 50px;
    // height: 30px;
    text-align: center;
    width: 230px;
    padding: 5px !important;
    margin: 2px 5px !important;


}

.sbtn {
    &:not(:disabled):not(.diabled) {
        cursor: pointer;
    }

    display: inline-block;
    white-space: nowrap;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    vertical-align: middle;
    user-select: none;
    padding: 0px 1rem;
    border-radius: var(--size-1);
    height: 40px;
    border: none;
    background-color: var(--c-primary-main);
    color: var(--c-white);
    transition: all 250ms;
    outline: 0;
    align-items: center;

    &:hover,
    &:focus {
        background-color: var(--c-primary-dark);
        text-decoration: none;
    }
}

.alafasy-title {
    color: white !important;
}

.list-group {
    cursor: pointer;
    position: relative;
    display: block;
    padding: 20px;
    // margin-bottom: -1px;
    background-color: #fff;
    // border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.progress-bar {
    display: block;
    width: 100% !important;
    height: 14px;
    // margin: 1px 5px 30px 5px;

}

input[type='range'] {
    display: block;
    height: 14px;
    width: 100% !important;
    padding-left: 12px;
    background-color: #2CA4AB;
    position: relative;
}

.sticky-player {
    height: 120px;
    border: #e4e7e7 1px solid;
    border-radius: 15px;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 15px;
    bottom: 0px;
    background: #fff;
    z-index: 11;
}

.audio-btn {
    margin: 10px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    text-align: center;


}

#play-btn {
    background-color: #009faa;
}

.song-title {
    margin: 0;
    margin-left: 10px
}

.play-lists {
    margin-top: -45px;
    border-radius: 10px;
}

.space {
    width: 10%;
}

.control-btn {
    width: 60%;
}

.volume-control {
    margin-left: 30px;
}

// .volume-btn {
//     width: 30%;
// }

.audio-close-btn {
    padding: 1rem;
    float: right
}

// .control-btns {
//     padding-left: 0;
//     list-style: none;
//     display: inline-block;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     padding-inline-start: 40px;
// }

// .list-item {
//     vertical-align: middle;
//     padding-bottom: 1px;
// }


// @media screen and (max-width: 870px) {
//     .space {
//         display: none;
//     }

//     .buttons {
//         width: 100%;
//     }

// }

@media screen and (max-width: 1087px) {
    .control-btn {
        width: 100% !important;
    }

    // .v-control {
    //     display: flex;
    // }

    // .volume-mobile-crl {
    //     display: block;
    // }

}

@media screen and (max-width: 830px) {
    .space {
        display: none;
    }

    .col .control-btn {
        display: block;
        width: 100%;
    }

    // .v-control {
    //     display: inline;
    // }

}

@media screen and (max-width: 768px) {
    .audio-close-btn {
        padding: 3rem;

        .volume-btn {
            display: none;
        }
    }

    .sbtn {
        height: 30px !important;
        // width: 65px !important;
        font-size: 14px !important;
        padding: 3px;
    }

    .ctr-btn {
        width: 100% !important;
        justify-content: center;
    }

    .song-title {
        display: d-flex;
        width: 100%;
        // margin-left: 20%;
        // justify-content: center;
    }

    .space {
        display: none;
    }

    .col .control-btn {
        // display: none;
        display: block;
        width: 100%;
    }

    // .volume-btn {

    //     display: flex;
    // }

    // .during-time {
    //     display: none;
    // }


}